*{
    margin: 0%;
    padding: 0%;
}

nav {
    width: 100%;
    height: 80px;
    background-color: #4fbfc0;
    position: fixed;
    z-index: 999;
}

a {
    text-decoration: none;
    color: #fff;
    font-family: sans-serif;
}

ul {
    height: 100%;
    width: 100%;
}

li.logo div img {
    display: inline-block;
    width: 30%;
    height: 30%;
    margin-left: 4%;
    padding-right: -50px;
    margin-top: 2px;
    position: relative;
}

li{
    display: inline-block;
    color: #fff;
    vertical-align: middle;
    font-size: 100%;
}

li.nav {
    height: 20px;
    margin-left: 3%;
    padding: 1%;
    border-bottom: 4px solid transparent;
}

li.nav span {
    color: transparent;
}

li.nav:hover{
    transition-duration: 1s;
    border-bottom: 4px solid #fff;
}

/*SILIDER*/
.slider {
    width: 100%;
    overflow: hidden;
}

.slider ul {
	display: flex;
	padding: 0;
	width: 400%;
	animation: cambio 20s infinite alternate linear;
}

.slider li {
	width: 100%;
	list-style: none;
}

.slider img {
    width: 100%;
    height: 61%;
}

@keyframes cambio {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}

div.slider2 {
    position: absolute;
    top: 40%;
    left: 25%;
    width: 50%;
    height: 30%;
    text-align: center;
    padding: 0%;
}

div.slider2 h1 {
    margin: 0%;
    position: relative;
    color: #fff;
    font-weight: bold;
    font-family: sans-serif;
}

div.button {
    position: relative;
    width: 25%;
    height: 20%;
    left: 35%;
    margin-top: 5%;
    color: #fff;
    text-align: center;
    padding-top: 4%;
    border:8px solid #ef3a6d;
    background-color: #ef3a6d;
    font-weight: bold;
    font-family: sans-serif;
    border-radius: 5%;
    transition-duration: 0.3s;
}

div.button:hover {
    border:8px solid #4fbfc0;
    background-color: #4fbfc0;
}

p.ini {
    position: relative;
    width: 80%;
    margin-top: -25%;
    left: 10%;
    color: grey;
    font-family: sans-serif;
    font-weight: 500;
    text-align: center;
}



section.info{
    text-align: center;
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
    font-size: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
}

section.info p {
    color: gray;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    position: relative;
}

section.info h2 {
    color: #ef3a6d;
    font-family: sans-serif;
}

section div {
    width: 40%;
    height: 100%;
    display: inline-block;
    margin-left: 8%;
    margin-top: 2%;
}

section div p {
    text-align: center;
    position: relative;
    width: 120%;
    left: -120px;
    font-size: 150%;
    font-family: sans-serif;
    display: inline-block;
    color: gray;
}

.imgqs {
    width: 100%;
}
.imgqs img {
    width: 100%;
    height: 350px;
    margin-top: 5%;
}

/* FOOTER */
footer {
    background-color: #EAEAEA;
    width: 100%;
    height: 2%;
    bottom: 0%;
    margin-top: 44px;
    font-family: sans-serif; 
    padding-bottom: 2%;
}

footer div {
    position: relative;
    width: 29%;
    height: 100%;
    display: inline-block;
    /* margin-inline-start: 3%; */
    margin-left: 3%;
    color: #4fbfc0;
}
footer h1{
    margin-bottom: 4%;
    color: #4fbfc0;
}

footer div.contact {
    margin-left: 6%;
    vertical-align: top;
}

.contact .footer {
    display: inline;
}
.footer {
    display: block;
    
}
.contact .icon {
    width: 20px;
    height: 20px;
    margin-right: 20px;
}

footer img.logo {
    width: 44%;
    height:44%;
    margin-left: 10%;
}
.rrss {
    vertical-align: top;
}
.rrss .footer {
    display: inline-block;
    color: #fff;
    margin-top: 2%;
}

img.icon {
    width: 30%;
    height: 30%;
    margin: 0%;
}

