*{
    margin: 0%;
    padding: 0%;
}

nav {
    width: 100%;
    height: 80px;
    background-color: #4fbfc0;
    position: fixed;
    z-index: 999;
}

ul {
    height: 100%;
    width: 100%;
}

li#logo div img {
    display: inline-block;
    width: 30%;
    height: 30%;
    margin-left: 4%;
    padding-right: -50px;
    margin-top: 2px;
    position: relative;
}

li{
    display: inline-block;
    color: #fff;
    vertical-align: middle;
    font-size: 100%;
}

li.nav {
    height: 20px;
    margin-left: 3%;
    padding: 1%;
    border-bottom: 4px solid transparent;
}

li.nav span {
    color: transparent;
}

li.nav:hover{
    transition-duration: 1s;
    border-bottom: 4px solid #fff;
}

/*SILIDER*/
.slider {
    width: 100%;
    overflow: hidden;
}

.slider ul {
	display: flex;
	padding: 0;
	width: 400%;
	animation: cambio 20s infinite alternate linear;
}

.slider li {
	width: 100%;
	list-style: none;
}

.slider img {
    width: 100%;
    height: 61%;
}

@keyframes cambio {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}

h1 {
    position: absolute;
    top: 45%;
    right: 25%;
    color: #fff;
    font-weight: bold;
    font-family: sans-serif;
}

div.button {
    position: absolute;
    width: 10%;
    height: 6%;
    top: 55%;
    right: 45%;
    color: #fff;
    text-align: center;
    padding-top: 2%;
    border:8px solid #ef3a6d;
    background-color: #ef3a6d;
    font-weight: bold;
    font-family: sans-serif;
    border-radius: 5%;
}

div.button:hover {
    border:8px solid #4fbfc0;
    background-color: #4fbfc0;
}

p {
    position: relative;
    width: 80%;
    margin-top: -25%;
    left: 10%;
    color: grey;
    font-family: sans-serif;
    font-weight: 500;
    text-align: center;
}