*{
    margin: 0%;
    padding: 0%;
}

nav {
    width: 100%;
    height: 80px;
    background-color: #4fbfc0;
    position: fixed;
    z-index: 999;
    box-shadow: 0px 1px 20px #323232;
}

a {
    text-decoration: none;
    color: #fff;
    font-family: sans-serif;
}

ul {
    height: 100%;
    width: 100%;
}

li.logo div img {
    display: inline-block;
    width: 30%;
    height: 30%;
    margin-left: 4%;
    padding-right: -50px;
    margin-top: 2px;
    position: relative;
}

li{
    display: inline-block;
    color: #fff;
    vertical-align: middle;
    font-size: 100%;
}

li.nav {
    height: 20px;
    margin-left: 3%;
    padding: 1%;
    border-bottom: 4px solid transparent;
}

li.nav span {
    color: transparent;
}

li.nav::after {
    position: relative;
    display: flex;
    content: "";
    background-color: transparent;
    height: 4px;
    width: 4px;
    margin-top: 5px;
    margin-left: 49%;
}

li.nav:hover::after {
    position: relative;
    display: flex;
    content: "";
    background-color: #fff;
    height: 4px;
    width: 100%;
    margin-top: 5px;
    margin-left: 0%;
    /* transition-delay: 0.5s; */
    transition-duration: 0.5s;
}

/* li.nav:hover{
    transition-duration: 1s;
    border-bottom: 4px solid #fff;
} */

li.page::after {
    position: relative;
    display: flex;
    content: "";
    background-color: #fff;
    height: 4px;
    width: 100%;
    margin-top: 5px;
    margin-left: 0%;
}

/*SILIDER*/
.slider {
    width: 100%;
    overflow: hidden;
}

.slider ul {
	display: flex;
	padding: 0;
	width: 400%;
	animation: cambio 20s infinite alternate linear;
}

.slider li {
	width: 100%;
	list-style: none;
}

.slider img {
    width: 100%;
    height: 61%;
}

@keyframes cambio {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}

div.slider2 {
    position: absolute;
    top: 40%;
    left: 25%;
    width: 50%;
    height: 30%;
    text-align: center;
    padding: 0%;
}

div.slider2 h1 {
    margin: 0%;
    position: relative;
    color: #fff;
    font-weight: bold;
    font-family: sans-serif;
}

div.button {
    position: relative;
    width: 25%;
    height: 20%;
    left: 35%;
    margin-top: 5%;
    color: #fff;
    text-align: center;
    padding-top: 3%;
    border:8px solid #ef3a6d;
    background-color: #ef3a6d;
    font-weight: bold;
    font-family: sans-serif;
    border-radius: 5%;
    transition-duration: 0.3s;
}

div.button:hover {
    border:8px solid #4fbfc0;
    background-color: #4fbfc0;
}

p.ini {
    position: relative;
    width: 80%;
    margin-top: -25%;
    left: 10%;
    color: grey;
    font-family: sans-serif;
    font-weight: 500;
    text-align: center;
}

section.info{
    text-align: center;
    position: relative;
    width: 100%;
    height: 100%;
    font-size: 100%;
    margin-top: 4%;
    margin-bottom: 0%;
}

section.info p {
    color: gray;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    position: relative;
}

section.info h2 {
    color: #ef3a6d;
    font-family: sans-serif;
    font-size: 200%;
}

section div {
    width: 40%;
    height: 100%;
    display: inline-block;
    margin-left: 8%;
    margin-top: 2%;
}

div.container {
    display: inline-block;
}

section div p {
    text-align: center;
    position: relative;
    width: 100%;
    left: -120px;
    font-size: 150%;
    font-family: sans-serif;
    display: inline-block;
    color: gray;
}
section.info#color {
    background-color: #4fbfc0;
    width: 100%;
    margin-top: 6%;
}
section.info#color div.container{
    display: inline-block;
    width: 35%;
}

section.info#color h2 {
    color: #fff;
    font-family: sans-serif;
    width: 50%;
    height: 50%;
    position: relative;
    top: -100px;
    text-align: center;
    font-size: 200%;
    vertical-align: middle;
}

section.info#color div.container p {
    color: #fff;
    padding-top: 2%;
    padding-bottom: 4%;
    position: relative;
    display: inline-block;
    width: 100%;
    height: 50%;
    font-size: 90%;
}

.imgqs {
    width: 100%;
}
.imgqs img {
    width: 100%;
    height: 350px;
    margin-top: 50px;
}

.icon1{
    width: 60px;
    height: 60px;
    display: inline-block;
    margin-right: 15%;
    margin-top: 5%;
}

.icon2{
    width: 65px;
    height: 65px;
    display: inline-block;
    margin-right: 15%;
    margin-top: 15%;
}

/*SCROLL HORIZONTAL*/

#scroll-horizontal .box {
    width:1100px;
    height:680px;
    display:inline-block;
    position:relative;
    margin: 0 auto;
    padding: 0 auto; 
    
  }
  #scroll-horizontal .box > div {
    width:100%;
    height:100%;
    font-size:10px;
    color:#FFF;
    top:50%;
    margin-left: 0;
    background-color: #f2f2f2;
  }
  #scroll-horizontal {
    overflow-y:scroll;
    overflow-x:hidden;
    transform: rotate(270deg) translateX(-100%);
    transform-origin: top left;
    width:500px;
    height:1150px;
    margin-top: 20px;
    background-color: #f2f2f2;
  }

  #scroll-horizontal2 {
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;
    white-space:nowrap;
    font-size:0;
  }
 
  #scroll-horizontal::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#scroll-horizontal::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

#scroll-horizontal::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

#scroll-horizontal::-webkit-scrollbar {
    visibility: hidden;
}

.margen{      
    height: 100px;
}

.box h1{
    margin-top: 30%;
    height: 100px;
    width: 80%;
    text-align: center;
    margin-left: 10%;
    font-size: 400%;
    color: #4fbfc0;
    position: relative;
    z-index: 99999;
    font-family: sans-serif;
}

.box img {
    width: 30%;
    height: 30%;
    margin-left: 15%;
}

.box p {
    width: 100px;
    height: 100px;
    left: 0px;
    margin-left: 20px;
}

.price {
    color: #D94878;
    right: 0px;
    text-align: left;
    font-weight: bold;
    font-size: 150%;
}

/* GALERIA */

.gallery {
    /* overflow: hidden; */
    position: relative;
    height: 800px;
    width: 100%;
    margin-top: -600px;
    margin-bottom: 200px;
}

.col {
    width: 25%;
    display: inline-block;
    position: relative;
    /* background-color: red; */
    margin: 0 auto;
    margin-left: 6%;
}

.image{
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 250px;
    margin-top: 15%;
}

.image img {
    position: relative;
    width: 100%;
    width: 100%;
    filter: grayscale(100%);
}

.image img:hover {
    filter: grayscale(0%);
    transform: translate(2px, 2px);
    box-shadow: 0px 1px 20px #323232;
}

.thumbnail {
    width: 100%;
}
  
  /** LIGHTBOX **/
  
.lightbox {
    /* lightbox hidden */
    display: none;
  
    /* Position and style */
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100%;
    text-align: center;
    top: 0;
    left: 0;
}
  
.lightbox img {
    /** Pad the lightbox image */
    max-width: 70%;
    max-height: 90%;
    margin-top: 2%;
    filter: grayscale(0%);
    transform: translate(2px, 2px);
    box-shadow: 0px 1px 20px #323232;
}
  
.lightbox:target {
    /** Remove default browser outline */
    outline: none;
  
    /** Unhide lightbox **/
    display: block;
    background-color: rgba(0, 0, 0, 0.8);
}

h1.title2 {
    font-family: sans-serif;
    text-align: center;
    color: #D94878;
    font-size: 200%;
    width: 100%;
}

.gallery h1::after {
    position: relative;
    display: flex;
    content: "";
    background-color: #D94878;
    height: 4px;
    width: 100%;
}

.talleres {
    width: 100%;
    margin: 0 auto;
    margin-top: 5%;
}

.taller {
    background-color: #f2f2f2;
    width: 18%; 
    height: 350px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-inline-start: 20px;
}

.taller img {
    height: 50%;
    width: 90%;
    margin: 5%;
    position: relative;
}

.taller h2 {
    width: 90%;
    margin: 5%;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 140%;
    font-family: sans-serif;
    color: #D94878;
}

.taller p {
    font-size: 90%;
    position: relative;
    text-align: center;
    width: 100%;
    left: 0;
    color: #D94878;
}

.taller button {
    width: 50%;
    height: 30px;
    color: #4fbfc0;
    background-color: #fff;
    border: 2px solid #4fbfc0;
    margin-top: 4px;
}

.taller button:hover {
    color: #fff;
    background-color: #4fbfc0;
    font-weight: 700;
} 

.form-taller {
    width: 100%;
    height: 700px;
    background-color: #4fbfc0;
    margin-top: 5%;
    display: inline-block;
}

.form-taller > div {
    width: 30%;
    margin: 0 auto;
}

.title3 h3{
    width: 70%;
    left: -400px;
    top: 190px;
    margin: 0 auto;
    position: relative;
    color: #fff;
    font-family: sans-serif;
    font-size: 250%;
    font-weight: bold;
}

.title3 .light {
    font-weight: 100;
    font-size: 200%;
}

.form-taller form {
    width: 150%;
    margin-top: -85px;
    background: none;
    border: none;
}

.form-taller form p{
    color: #fff;
    font-family: sans-serif;
}
.form-taller form button{
    width: 30%;
    margin-left: 35%;
    font-family: sans-serif;
    border-radius: 0px;
}

.form-taller form input{
    border: none;
    border-bottom: 2px solid #fff;
    border-radius: 0;
    width: 73%;
    background-color: transparent;
    font-family: sans-serif;
}
.form-taller form input:focus{
    border: 2px solid transparent;
    border: 2px solid #D94878;
    background-color: #fff;
}

.form-taller form textarea {
    height: 40px;   
}

.ubicacion {
    padding-top: 120px;
}
.ubicacion div {
    display: inline-block;
}

.ubicacion h2, h3, div{
    color: grey;
    font-family: sans-serif;
}

.ubicacion .uno {
    width: 5%;
    margin-left: 10%;
}

.ubicacion .uno img {
    margin-left: 25%;
    
}

.ubicacion .dos {
    width: 30%;
    margin-left: 0%;
}

.ubicacion .tres {
    width: 28%;
    margin-left: 20%;
}

.ubicacion .tres div {
position: relative;
   width: 100%;
}

iframe {
    margin-top: 5%;
}


img.ubi1 {
    width: 40px;
    height: 40px;
}

img.ubi2 {
    width: 35px;
    height: 35px;
    margin-right: 20px;  
}

.container1 {
    width: 100%;    
}

.container1 {
    width: 100%;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.container1 .title {
    width: 1240px;
    font-family: sans-serif;
    color: #4fbfc0;
    position:relative;
    margin-top: 4%;
    margin-left: 90px;
    margin-bottom: 6%;
}

.title h2 {
    text-align: center;
    cursor: pointer;
}

.title::before {
    position: relative;
    display: flex;
    content: "";
    background-color: #aeaeae;
    height: 3px;
    width: 0%;
    margin-top: 5px;
}

.title:hover::before {
    position: relative;
    display: flex;
    content: "";
    background-color: #4fbfc0;
    height: 3px;
    width: 100%;
    margin-top: 5px;
    transition-duration: 1s;
}

summary::-webkit-details-marker {
    visibility: hidden;
}

summary {
    outline: 0;
    box-shadow: 0 2px 1rem 0 rgba(0, 0, 0, 0.34),
                0 0   3rem 0 rgba(0, 0, 0, 0.015) inset;
    padding-bottom: 1%;
}

details[open] .title::before {
    content: "";
    width: 100%;
    background-color: #4fbfc0;
    display: block;
}

/* El unico proposito de este div es evitar que el formulario sea solapado por el navbar */
.vacio {
    height: 120px;
}
/*FORMULARIO DE CONTACTO*/


form h1 {
    font-size: 18px;
    background: #D94878 none repeat scroll 0% 0%;
    padding: 22px 25px;
    border-radius: 5px 5px 0px 0px;
    margin: 0 auto; 
    text-align:left;
    font-family: sans-serif;
    text-align:center; 
    color: #fff; 
  }

form {
    border-radius: 5px;
    width:50%;
    margin: 5% auto;
    margin-top: 0;
    margin-left: 27%;
    background-color: #FFFFFF;
    overflow: hidden;
    border: 1px solid #D94878;
    font-family: sans-serif;
  }
  
  form  p span {
    color: #F00;
  }
  
 form  p {
    margin: 0px;
    font-weight: 500;
    line-height: 2;
    color:#333;
    font-family: sans-serif;
  }

  
form input {
    border-radius: 0px 5px 5px 0px;
    border: 1px solid #eee;
    margin-bottom: 15px;
    width: 75%;
    height: 40px;
    float: left;
    padding: 0px 15px;
    font-family: sans-serif;
  }
  form select {
    border-radius: 0px 5px 5px 0px;
    border: 1px solid #eee;
    margin-bottom: 15px;
    width: 75%;
    height: 40px;
    float: left;
    padding: 0px 15px;
    font-family: sans-serif;
  }
  
  form a {
    text-decoration:inherit
  }
  
 form textarea {
    border-radius: 0px 5px 5px 0px;
    border: 1px solid #EEE;
    margin: 0;
    width: 75%;
    height: 130px; 
    float: left;
    padding: 0px 15px;
    font-family: sans-serif;
  }
  
form .form-group {
    overflow: hidden;
    clear: both;
  }
  
form  .icon-case {
    width: 35px;
    float: left;
    border-radius: 5px 0px 0px 5px;
    background:#eeeeee;
    height:42px;
    position: relative;
    text-align: center;
    line-height:40px;
  }
  
form i {
    color:#555;
  }
  
form .contentform {
    padding: 40px 30px;
  }
  
form .bouton-contact{
    background-color: #D94878;
    color: #FFF;
    text-align: center;
    width: 100%;
    border:0;
    padding: 17px 25px;
    border-radius: 0px 0px 5px 5px;
    cursor: pointer;
    margin-top: 40px;
    font-size: 18px;
  }
  
form .leftcontact {
    width:49.5%; 
    float:left;
    border-right: 1px dotted #CCC;
    box-sizing: border-box;
    padding: 0px 15px 0px 0px;
  }
  
 form .rightcontact {
    width:49.5%;
    float:right;
    box-sizing: border-box;
    padding: 0px 0px 0px 15px;
  }
  
form .validation {
    display:none;
    margin: 0 0 10px;
    font-weight:400;
    font-size:13px;
    color: #DE5959;
  }
  
form #sendmessage {
    border:1px solid #fff;
    display:none;
    text-align:center;
    margin:10px 0;
    font-weight:600;
    margin-bottom:30px;
    background-color: #DE5959;
    color: #4fbfc0;
    border: 1px solid #DE5959;
    padding: 13px 40px 13px 18px;
    border-radius: 3px;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.03);
  }
  
 form #sendmessage.show,.show  {
    display:block;
  }


/* FOOTER */
footer {
    background-color: #EAEAEA;
    width: 100%;
    height: 2%;
    margin-top: 30px;
    font-family: sans-serif; 
    padding-bottom: 2%;
    padding-top: 2%;
}

footer div {
    position: relative;
    width: 29%;
    height: 100%;
    display: inline-block;
    margin-left: 3%;
    color: #4fbfc0;
}
footer h1{
    margin-bottom: 4%;
    color: #4fbfc0;
}

.contact {
    margin-left: 6%;
    vertical-align: top;
}

.contact .footer {
    display: inline;
}

.footer {
    display: block;  
}

.contact .icon {
    width: 20px;
    height: 20px;
    margin-right: 20px;
}

footer img.logo {
    width: 44%;
    height:44%;
    margin-left: 10%;
}
.rrss {
    vertical-align: top;
}
.rrss .footer {
    display: inline-block;
    color: #fff;
    margin-top: 2%;
}

img.icon {
    width: 30%;
    height: 30%;
    margin: 0%;
}

