*{
    margin: 0%;
    padding: 0%;
}

nav {
    width: 100%;
    height: 80px;
    background-color: #4fbfc0;
    position: fixed;
    z-index: 999;
    box-shadow: 0px 1px 20px #323232;
}

a {
    text-decoration: none;
    color: #fff;
    font-family: sans-serif;
}

ul {
    height: 100%;
    width: 100%;
}

li.logo div img {
    display: inline-block;
    width: 30%;
    height: 30%;
    margin-left: 4%;
    padding-right: -50px;
    margin-top: 2px;
    position: relative;
}

li{
    display: inline-block;
    color: #fff;
    vertical-align: middle;
    font-size: 100%;
}

li.nav {
    height: 20px;
    margin-left: 3%;
    padding: 1%;
    border-bottom: 4px solid transparent;
}

li.nav span {
    color: transparent;
}

li.nav:hover{
    transition-duration: 1s;
    border-bottom: 4px solid #fff;
}

.page {
    border-bottom: 4px solid #fff;
}

/*SILIDER*/
.slider {
    width: 100%;
    overflow: hidden;
}

.slider ul {
	display: flex;
	padding: 0;
	width: 400%;
	animation: cambio 20s infinite alternate linear;
}

.slider li {
	width: 100%;
	list-style: none;
}

.slider img {
    width: 100%;
    height: 61%;
}

@keyframes cambio {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}

div.slider2 {
    position: absolute;
    top: 40%;
    left: 25%;
    width: 50%;
    height: 30%;
    text-align: center;
    padding: 0%;
}

div.slider2 h1 {
    margin: 0%;
    position: relative;
    color: #fff;
    font-weight: bold;
    font-family: sans-serif;
}

div.button {
    position: relative;
    width: 25%;
    height: 20%;
    left: 35%;
    margin-top: 5%;
    color: #fff;
    text-align: center;
    padding-top: 3%;
    border:8px solid #ef3a6d;
    background-color: #ef3a6d;
    font-weight: bold;
    font-family: sans-serif;
    border-radius: 5%;
    transition-duration: 0.3s;
}

div.button:hover {
    border:8px solid #4fbfc0;
    background-color: #4fbfc0;
}

p.ini {
    position: relative;
    width: 80%;
    margin-top: -25%;
    left: 10%;
    color: grey;
    font-family: sans-serif;
    font-weight: 500;
    text-align: center;
}

section.info{
    text-align: center;
    position: relative;
    width: 100%;
    height: 100%;
    font-size: 100%;
    margin-top: 4%;
    margin-bottom: 0%;
}

section.info p {
    color: gray;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    position: relative;
}

section.info h2 {
    color: #ef3a6d;
    font-family: sans-serif;
    font-size: 200%;
}

section div {
    width: 40%;
    height: 100%;
    display: inline-block;
    margin-left: 8%;
    margin-top: 2%;
}

div.container {
    display: inline-block;
}

section div p {
    text-align: center;
    position: relative;
    width: 100%;
    left: -120px;
    font-size: 150%;
    font-family: sans-serif;
    display: inline-block;
    color: gray;
}
section.info#color {
    background-color: #4fbfc0;
    width: 100%;
    margin-top: 6%;
}
section.info#color div.container{
    display: inline-block;
    width: 35%;
}

section.info#color h2 {
    color: #fff;
    font-family: sans-serif;
    width: 50%;
    height: 50%;
    position: relative;
    top: -100px;
    text-align: center;
    font-size: 200%;
    vertical-align: middle;
}

section.info#color div.container p {
    color: #fff;
    padding-top: 2%;
    padding-bottom: 4%;
    position: relative;
    display: inline-block;
    width: 100%;
    height: 50%;
    font-size: 90%;
}

.imgqs {
    width: 100%;
}
.imgqs img {
    width: 100%;
    height: 350px;
    margin-top: 50px;
}

.icon1{
    width: 60px;
    height: 60px;
    display: inline-block;
    margin-right: 15%;
    margin-top: 5%;
}

.icon2{
    width: 65px;
    height: 65px;
    display: inline-block;
    margin-right: 15%;
    margin-top: 15%;
}

.ubicacion {
    padding-top: 120px;
}
.ubicacion div {
    display: inline-block;
}

.ubicacion .uno {
    width: 5%;
    margin-left: 10%;
}

.ubicacion .uno img {
    margin-left: 25%;
    
}

.ubicacion .dos {
    width: 30%;
    margin-left: 0%;
}

.ubicacion .tres {
    width: 28%;
    margin-left: 20%;
}

.ubicacion .tres div {
position: relative;
   width: 100%;
}

iframe {
    margin-top: 5%;
}


img.ubi1 {
    width: 40px;
    height: 40px;
}

img.ubi2 {
    width: 35px;
    height: 35px;
    margin-right: 20px;  
}

.container1 {
    width: 100%;    
}

.container1 {
    width: 100%;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.container1 .title {
    margin-left: 20%;
    padding-top: 20%;
    font-family: sans-serif;
    color: #4fbfc0;
}

.title::after {
    position: relative;
    display: flex;
    content: "";
    background-color: #aeaeae;
    height: 3px;
    width: 30%;
    margin-top: 5px;
}

.title:hover::after {
    position: relative;
    display: flex;
    content: "";
    background-color: #4fbfc0;
    height: 3px;
    width: 100%;
    margin-top: 5px;
    transition-delay: 0,5s;
    transition-duration: 1s;
}

/* El unico proposito de este div es evitar que el formulario sea solapado por el navbar */
.vacio {
    height: 120px;
}
/*FORMULARIO DE CONTACTO*/


.container1 form h1 {
    font-size: 18px;
    background: #D94878 none repeat scroll 0% 0%;
    color: rgb(255, 255, 255);
    padding: 22px 25px;
    border-radius: 5px 5px 0px 0px;
    margin: auto;
    text-shadow: none; 
    text-align:left
  }
  
  .container1 form {
    border-radius: 5px;
    width:700px;
    margin: 5% auto;
    margin-top: 0;
    margin-left: 15%;
    margin-right: 15%;
    background-color: #FFFFFF;
    overflow: hidden;
    border: 1px solid #D94878;
  }
  
  .container1  p span {
    color: #F00;
  }
  
  .container1  p {
    margin: 0px;
    font-weight: 500;
    line-height: 2;
    color:#333;
  }
  
  .container1  h1 {
    text-align:center; 
    color: #666;
    text-shadow: 1px 1px 0px #FFF;
    margin:50px 0px 0px 0px
  }
  
  .container1 input {
    border-radius: 0px 5px 5px 0px;
    border: 1px solid #eee;
    margin-bottom: 15px;
    width: 75%;
    height: 40px;
    float: left;
    padding: 0px 15px;
  }
  .container1 select {
    border-radius: 0px 5px 5px 0px;
    border: 1px solid #eee;
    margin-bottom: 15px;
    width: 75%;
    height: 40px;
    float: left;
    padding: 0px 15px;
  }
  
  .container1 a {
    text-decoration:inherit
  }
  
  .container1 textarea {
    border-radius: 0px 5px 5px 0px;
    border: 1px solid #EEE;
    margin: 0;
    width: 75%;
    height: 130px; 
    float: left;
    padding: 0px 15px;
  }
  
  .container1 .form-group {
    overflow: hidden;
    clear: both;
  }
  
  .container1  .icon-case {
    width: 35px;
    float: left;
    border-radius: 5px 0px 0px 5px;
    background:#eeeeee;
    height:42px;
    position: relative;
    text-align: center;
    line-height:40px;
  }
  
  .container1 i {
    color:#555;
  }
  
  .container1 .contentform {
    padding: 40px 30px;
  }
  
  .container1 .bouton-contact{
    background-color: #D94878;
    color: #FFF;
    text-align: center;
    width: 100%;
    border:0;
    padding: 17px 25px;
    border-radius: 0px 0px 5px 5px;
    cursor: pointer;
    margin-top: 40px;
    font-size: 18px;
  }
  
  .container1 .leftcontact {
    width:49.5%; 
    float:left;
    border-right: 1px dotted #CCC;
    box-sizing: border-box;
    padding: 0px 15px 0px 0px;
  }
  
  .container1  .rightcontact {
    width:49.5%;
    float:right;
    box-sizing: border-box;
    padding: 0px 0px 0px 15px;
  }
  
  .container1 .validation {
    display:none;
    margin: 0 0 10px;
    font-weight:400;
    font-size:13px;
    color: #DE5959;
  }
  
  .container1 #sendmessage {
    border:1px solid #fff;
    display:none;
    text-align:center;
    margin:10px 0;
    font-weight:600;
    margin-bottom:30px;
    background-color: #DE5959;
    color: #4fbfc0;
    border: 1px solid #DE5959;
    padding: 13px 40px 13px 18px;
    border-radius: 3px;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.03);
  }
  
  .container1 #sendmessage.show,.show  {
    display:block;
  }


/* FOOTER */
footer {
    background-color: #EAEAEA;
    width: 100%;
    height: 2%;
    margin-top: 30px;
    font-family: sans-serif; 
    padding-bottom: 2%;
    padding-top: 2%;
}

footer div {
    position: relative;
    width: 29%;
    height: 100%;
    display: inline-block;
    margin-left: 3%;
    color: #4fbfc0;
}
footer h1{
    margin-bottom: 4%;
    color: #4fbfc0;
}

.contact {
    margin-left: 6%;
    vertical-align: top;
}

.contact .footer {
    display: inline;
}

.footer {
    display: block;  
}

.contact .icon {
    width: 20px;
    height: 20px;
    margin-right: 20px;
}

footer img.logo {
    width: 44%;
    height:44%;
    margin-left: 10%;
}
.rrss {
    vertical-align: top;
}
.rrss .footer {
    display: inline-block;
    color: #fff;
    margin-top: 2%;
}

img.icon {
    width: 30%;
    height: 30%;
    margin: 0%;
}

